@import "fonts.scss";
@import 'variables.scss';

@mixin fontz($fz, $fw, $fc, $lh) {
  font-family: HelveticaNeueCyr;
  font-size: $fz;
  font-weight: $fw;
  color: $fc;
  line-height: $lh;
}

@mixin flex($jc, $ai, $fd, $fw) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}

@mixin absolute($t, $r, $l, $b) {
  position: absolute;
  top: $t;
  right: $r;
  left: $l;
  bottom: $b;
}
