@import "fonts.scss";
@import 'variables.scss';

@mixin fontz($fz, $fw, $fc, $lh) {
  font-family: HelveticaNeueCyr;
  font-size: $fz;
  font-weight: $fw;
  color: $fc;
  line-height: $lh;
}

@mixin flex($jc, $ai, $fd, $fw) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}

@mixin grid($c, $r, $g) {
  display: grid;
  grid-template-columns: repeat($c, 1fr);
  grid-template-rows: repeat($r, 1fr);
  gap: $g;
}

@mixin absolute($t, $r, $l, $b) {
  position: absolute;
  top: $t;
  right: $r;
  left: $l;
  bottom: $b;
}


// @mixin media($minmax, $media) {
//   @each $size, $resolution in $sizes {
//     @if $media == $size {
//       @media only screen and (#{$minmax}-width: $resolution) {
//         @content;
//       }
//     }
//   }
// }