$fz13: 13px;
$fz14: 14px;
$fz15: 15px;
$fz16: 16px;
$fz25: 24px;
$fz32: 32px;

$brown: #ab844a;
$white: #fff;
$black: #363030;
$red: #ff6565;
$gray: #7c7c7c;
$brown2: #AB844A;


$transition: all 0.5s;
